# Dépendances Node.js
node_modules/

# Variables d'environnement (CRITIQUE : NE JAMAIS PARTAGER CE FICHIER)
.env
.env.*

# Fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers générés par l'OS
.DS_Store
Thumbs.db
